.category{  
  border-left: 1px solid #ebeced;
  width: 920px;
  overflow: scroll;
  height: 100vh;
  .category-header{
    margin: 50px 24px 0px;
    &__name{
      font-size: 28px;
      line-height: 42px;
      font-weight: 600;
    }
    &__picture{
      width: 100%;
      height: 300px;
    }
    .communities-btn{
      width: 264px;  
      height: 48px;
      background-color: aqua;
      color:black;
      margin: 20px 0 0 280px ;
      font-size: 16px;
      border-radius: 100px;
      border-style: none;
    }
  }
}