.favorite-main{
  .favorite__content{
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    .name{
    }
    .image__first{
      padding: 50px 80px;
      img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 500px;
      }
    }
    .how-nice{
      &__button{
        width: 80%;
        height: 50px;
        font-size: 30px;
        background-color:pink;
        color: red;
        border-radius: 20px;
      }
    }
    .name{
      display: inline;
      font-size: 30px;
    }
    .self-introduction{
      padding: 0px 50px 0px 50px;
      text-align: left;
      &__top{
      }
    }  
  }
}