.line{
  height: 1px;
  background-color: rgb(235, 236, 237);
  margin: 32px 24px;
}
.profile-heder{
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 56px;
  padding: 16px 32px 14px 16px;
  box-sizing: border-box;
  width: 100%;
}
.profile-main{
  padding: 8px 24px 0px;
  display: flex;
  &__image--icon__label{
    .profile-main__image--icon__input{
      margin: auto;
      width: 180px;
      height: 180px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      &__image{
        
      }
    }
    .profile-main__image--icon__input__btn{
      display: none;
    }
  }

  &__name{
    font-size: 28px;
    padding: 60px 30px;
    height: 100%;
    line-height: 42px;
    font-weight: 600;
  }
  
} 
.tweet-main{
  padding: 0px 24px;
  &__icon{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
  &__text{
    height: 56px;
    padding-top: 20px;
    textarea{
    height: 100px;
    width: 100%;
    }
  }
}

 .profile-main__user-profile{
    padding: 0px 24px;
    .field{
      .field-label{
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }  
      .field-input{
        padding-top: 20px;
        textarea{
          width: 100%;
          height: 300px;;
        }
      }  
    }    
 }
 .actions{
  padding: 0px 24px;
  .actions-name{
    width: 100%;
    height: 50px;
  }
 }